* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.header-box {
    text-align: center;
    padding-top: 50px;
}

.header__nav {
    margin-bottom: 38px;

}

.nav__list {
    display: flex;
    gap: 30px;
    justify-content: center;
    margin-top: 79px;

}

.nav__link {
    font-size: 18px;
    line-height: 21px;
    color: #8C8A8A;


}

.header-img {
    width: 100%;
}

.main-left {
    background: #F0F0F0;
    padding: 51px 95px 51px 40px;

    width: 730px;
    margin-right: 30px;
}

.main-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: #4581B7;
    margin-bottom: 25px;

}

.main-text {
    font-size: 16px;
    line-height: 27px;
    color: #808080;
}

.num {
    color: #808080;
    display: block;
    margin-top: 40px;
    margin-bottom: 65px;
}

main {
    margin-top: 30px;

}

.main-right {
    background: #F0F0F0;
    padding: 50px 24px 0 40px;
    width: 291px;
}

.main-box {
    display: flex;

}

.footer-box {
    background: #F0F0F0;
    padding: 15px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer {
    margin-top: 30px;
}

.footer_num {
    font-weight: 700;
    font-size: 25px;
    line-height: 29px;
    color: #808080;
    display: block;
margin-top: 10px;
}

.fopter-text {
    text-align: right;
    line-height: 19px;
    color: #808080;
}